services:
  db:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data 
    environment:
      POSTGRES_DB: \        
      POSTGRES_USER: \
      POSTGRES_PASSWORD: \
    restart: always

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - itms_logs:/app/logs
    env_file:
      - .env
    environment:
      POSTGRES_DB: \
      POSTGRES_USER: \    
      POSTGRES_PASSWORD: \
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    depends_on:
      - db
    ports:
      - "8000:8000"
    restart: always

volumes:
  postgres_data:
  itms_logs:
