{% extends "base.html" %}
{% load monitor_filters %}

{% block page_name %}
시스템점검일지 상세
{% endblock %}
{% block content %}
<div class="border bg-white mb-3 p-3">
  <h6 class="mt-4 pb-2 section-title border-bottom">점검 개요</h6>
  <div class="border container step-state step{{step}}">
    <ul>
      {% for step in steps %}
        <li><p>{{ step.name }}</p></li>
      {% endfor %}
    </ul>
    <div>
        <table class="table table-bordered">
          <tr><th>담당자</th><td>{{ log.duty_user.profile.display_name }}<th>점검대상 일자</th><td>{{ log.date }}</td></td></tr>
          {% if log.completed %}
          <tr><th>검토자</th><td>{{ log.completed_by.profile.display_name}}</td><th>검토일시</th><td>{{ log.completed_at|date:'Y-m-d H:i' }}</td></tr>
          {% endif %}
          {% if log.approved %}
          <tr><th>승인자</th><td>{{ log.approved_by.profile.display_name }}</td><th>승인일시</th><td>{{ log.approved_at|date:'Y-m-d H:i' }}</td></tr>
          {% endif %}
      </table>
    </div>
  </div>
</div>

<div class="border bg-white p-3">

<h6 class="mt-4 pb-2 section-title border-bottom">항목별 점검결과</h6>
    <table class="table table-bordered mt-3 text-center">
        <thead>
            <tr><th class="col-2">항목</th><th class="col-2">점검여부</th><th class="col-2">장애/오류</th><th class="col-2">점검자</th><th class="col-2">점검시간</th><th class="col-2">점검결과</th></tr>
        </thead>
        <tbody>
            {% for category in categories %}
                {% with entry=log_entries|get_item:category.id %}
                <tr>
                    <th>{{ category.name }}</th>
                    <td>{{ entry.is_checked|yesno:"O,X" }}</td>
                    <td>{% if entry.has_trouble %}
                          <button class="scl-btn-icon-red scl-btn-28"><span class="material-icons">check</span></button>
                        {% else %}
                          
                        {% endif %}
                    <td>{{ entry.checked_by.profile.display_name|default:"-" }}</td>
                    <td>{{ entry.checked_at|default:"-" }}</td>
                    <td>
                        {% if entry and entry.result %}
                            <button type="button" class="scl-btn scl-btn-sm scl-btn-outline openResultModal" 
                                    data-result="{{ entry.result }}" data-bs-toggle="modal" 
                                    data-bs-target="#dynamicResultModal" data-category="{{ category.name }}">
                                점검결과보기
                            </button>
                        {% else %}
                            {% if entry.is_checked %}
                            <button type="button" class="scl-btn scl-btn-sm scl-btn-ghost" disabled>
                                점검내용없음
                            </button>
                            {% else %}      
                            <button type="button" class="scl-btn scl-btn-sm scl-btn-ghost" disabled>
                                점검 미수행
                            </button>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% if entry %}
                    {% for subcategory_entry in entry.subcategory_entries.all %}
                    <tr class="subcategory-row">
                        <td class="ps-5">- {{ subcategory_entry.subcategory.name }}</td>
                        <td>{{ subcategory_entry.is_checked|yesno:"O,X" }}</td>
                        <td>{% if subcategory_entry.has_trouble %}
                          <button class="scl-btn-icon scl-btn-28"><span class="material-icons">check</span></button>
                        {% else %}
                          
                        {% endif %}

                        </td>
                        <td>{{ entry.checked_by.profile.display_name|default:"-" }}</td>
                        <td>{{ entry.checked_at|default:"-" }}</td>
                        <td>
                            {% if subcategory_entry.result %}
                                <button type="button" class="scl-btn scl-btn-sm scl-btn-outline openResultModal" 
                                        data-result="{{ subcategory_entry.result }}" data-bs-toggle="modal" 
                                        data-bs-target="#dynamicResultModal" data-category="{{ subcategory_entry.subcategory.name }}">
                                    점검결과보기
                                </button>
                            {% else %}
                                <button type="button" class="scl-btn scl-btn-sm scl-btn-ghost" disabled>
                                    점검내용없음
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>

    {% if log.attachments.all %}
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th scope="col" class="text-center col-10">첨부파일명</th>
                <th scope="col" class="text-center">다운로드</th>
            </tr>
        </thead>
        <tbody>
            {% for f in log.attachments.all %}
            <tr>
                <td>{{ f.file }}</td>
                <td><a href="{{ f.file.url }}" target="_blank">다운로드</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <div class="mt-3">
        {% if user == log.duty_user and not log.completed and ready %}
            <button type="button" class="scl-btn scl-btn-sm" data-bs-toggle="modal" data-bs-target="#completeModal">검토완료/승인요청</button>
        {% endif %}
        {% if user.profile.current_team_role == 'leader' and log.completed and not log.approved %}    
            <button type="button" class="scl-btn scl-btn-sm" data-bs-toggle="modal" data-bs-target="#approveModal">승인</button>
        {% endif %}
    </div>
</div>

<!-- 완료/승인요청 Modal -->
<div class="modal fade" id="completeModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="{% url 'operation_log_complete' log.id %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title">승인요청</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">승인요청하시겠습니까?</div>
        <div class="modal-footer">
          <button type="submit" class="scl-btn scl-btn-sm">확인</button>
          <button type="button" class="scl-btn scl-btn-outline scl-btn-sm" data-bs-dismiss="modal">취소</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- 승인 Modal -->
<div class="modal fade" id="approveModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="{% url 'operation_log_approve' log.id %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title">승인</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">승인하시겠습니까?</div>
        <div class="modal-footer">
          <button type="submit" class="scl-btn scl-btn-sm">확인</button>
          <button type="button" class="scl-btn scl-btn-outline scl-btn-sm" data-bs-dismiss="modal">취소</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- 점검결과 Modal -->
<div class="modal fade" id="dynamicResultModal" tabindex="-1" aria-labelledby="dynamicResultModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content custom-modal">
      <div class="modal-header">
        <h5 class="modal-title fw-semibold" id="dynamicResultModalLabel">점검결과</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
      </div>
      <div class="modal-body">
        <div class="card card-body bg-light" id="resultModalContent">
          <!-- 여기에 동적으로 결과 내용이 들어감 -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
<div class="mt-3"><input type="button " class="scl-btn scl-btn-outline scl-btn-sm float-end" value="뒤로" onclick="back()"></div>
{% endblock %}
{% block extra_js %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const modal = document.getElementById('dynamicResultModal');
    const modalContent = document.getElementById('resultModalContent');
    const modalTitle = document.getElementById('dynamicResultModalLabel');

    // 모든 버튼에 이벤트 바인딩
    document.querySelectorAll('.openResultModal').forEach(button => {
      button.addEventListener('click', () => {
        const result = button.getAttribute('data-result');
        const category = button.getAttribute('data-category');
        modalContent.innerHTML = result; // HTML 렌더링
        if (category) {
          modalTitle.textContent = `${category} 점검결과`;
        } else {
          modalTitle.textContent = '점검결과';
        }
      });
    });
  });
</script>
<style>
  .subcategory-row {
    background-color: #f8f9fa;
  }
</style>
{% endblock %}
