<div class="dynamic-form-section" data-dataset="{{ dataset_code }}">
    <h6 class="pb-2 section-title border-bottom">{{ dataset_name }}</h6>
    
    {% regroup form_elements by row_group as grouped_elements %}
    {% for group in grouped_elements %}
        {% if group.grouper %}
            <!-- Grouped row elements -->
            <div class="form-group row mt-4">
                {% for element in group.list %}
                    <div class="col-md-{{ element.col_width }}">
                        <label for="{{ element.element_code }}" class="form-label">
                            {{ element.element_name }}
                            {% if element.is_required %}<span class="text-danger">*</span>{% endif %}
                        </label>
                        {% include "service/includes/form_element_input.html" %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <!-- Individual elements (no row_group) -->
            {% for element in group.list %}
                <div class="form-group row mt-4">
                    <label for="{{ element.element_code }}" class="form-label col-sm-2 text-end fw-bold">
                        {{ element.element_name }}
                        {% if element.is_required %}<span class="text-danger">*</span>{% endif %}
                    </label>
                    <div class="col-md-10">
                        {% include "service/includes/form_element_input.html" %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
