{% if element.element_type == 'text' %}
    <input type="text" id="{{ element.element_code }}" name="{{ element.element_code }}" 
           class="form-control" placeholder="{{ element.placeholder }}" 
           {% if element.is_required %}required{% endif %}>

{% elif element.element_type == 'textarea' %}
    <textarea id="{{ element.element_code }}" name="{{ element.element_code }}" 
              class="form-control" rows="3" placeholder="{{ element.placeholder }}"
              {% if element.is_required %}required{% endif %}></textarea>

{% elif element.element_type == 'select' %}
    <select id="{{ element.element_code }}" name="{{ element.element_code }}" 
            class="form-control" {% if element.is_required %}required{% endif %}>
        <option value="">선택</option>
        {% for option in element.options %}
            <option value="{{ option.value }}">{{ option.label }}</option>
        {% endfor %}
    </select>

{% elif element.element_type == 'checkbox' %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="{{ element.element_code }}" 
               name="{{ element.element_code }}" value="yes">
        <label class="form-check-label" for="{{ element.element_code }}">
            {{ element.placeholder|default:element.element_name }}
        </label>
    </div>

{% elif element.element_type == 'radio' %}
    {% for option in element.options %}
        <div class="form-check">
            <input class="form-check-input" type="radio" id="{{ element.element_code }}_{{ forloop.counter }}" 
                   name="{{ element.element_code }}" value="{{ option.value }}"
                   {% if element.is_required %}required{% endif %}>
            <label class="form-check-label" for="{{ element.element_code }}_{{ forloop.counter }}">
                {{ option.label }}
            </label>
        </div>
    {% endfor %}

{% elif element.element_type == 'number' %}
    <input type="number" id="{{ element.element_code }}" name="{{ element.element_code }}" 
           class="form-control" placeholder="{{ element.placeholder }}"
           {% if element.is_required %}required{% endif %}>

{% elif element.element_type == 'date' %}
    <input type="date" id="{{ element.element_code }}" name="{{ element.element_code }}" 
           class="form-control" {% if element.is_required %}required{% endif %}>

{% elif element.element_type == 'email' %}
    <input type="email" id="{{ element.element_code }}" name="{{ element.element_code }}" 
           class="form-control" placeholder="{{ element.placeholder }}"
           {% if element.is_required %}required{% endif %}>
{% endif %}
