{% extends "base.html" %}

{% block page_name %}
요청 승인
{% endblock %}

{% block content %}
<h5 class="pb-2">승인 대기 목록</h5>
<table id="custom_table" class="display nowrap text-center" style="width:100%">
    <thead>
        <tr>
            <th>SR No</th><th>제목</th><th>요청일</th><th>상세</th>
        </tr>
    </thead>
    <tbody>
    {% if pending_requests %}
        {% for sr in pending_requests %}
        <tr>
            <td>{{ sr.id }}</td>
            <td>{{ sr.req_title|truncatechars:30 }}</td>
            <td>{{ sr.date_of_req }}</td>
            <td><a href="{% url 'service_request_detail' sr.id %}">상세</a></td>
        </tr>
        {% endfor %}
    {% else %}
        <tr><td colspan="4" class="text-center">승인 대상이 없습니다.</td></tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}
