{% extends "base.html" %}

{% block page_name %}
CTS/릴리즈 승인
{% endblock %}

{% block content %}
<h5 class="pb-2">승인 대기 목록</h5>
<table id="custom_table" class="display nowrap text-center" style="width:100%">
    <thead>
        <tr>
            <th>SR No</th><th>요청번호</th><th>Source</th><th>Target</th><th>일자</th><th>상세</th>
        </tr>
    </thead>
    <tbody>
    {% if pending_releases %}
        {% for rl in pending_releases %}
        <tr>
            <td>{{ rl.service_request.id }}</td>
            <td>{{ rl.request_number }}</td>
            <td>{{ rl.source_system }}</td>
            <td>{{ rl.target_system }}</td>
            <td>{{ rl.release_date }}</td>
            <td><a href="{% url 'service_request_detail' rl.service_request.id %}">상세</a></td>
        </tr>
        {% endfor %}
    {% else %}
        <tr><td colspan="6" class="text-center">승인 대상이 없습니다.</td></tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}
