{% extends "base.html" %}

{% block page_name %}
Service Request 등록
{% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-4">  <!-- Bootstrap grid for cards -->
        {% if service_list %}
            {% for i in service_list %}
                <div class="col">
                    <div class="card h-100">  <!-- Card height for consistent sizing -->
                        <div class="card-body">
                            <h5 class="card-title"><b>{{ i.name }}</b></h5>
                            <p class="card-text">{{ i.description|safe }}</p>
                            
                            <a href="{% url 'service_request_create' i.code %}"><button class="mt-3 scl-btn scl-btn-sm"><span class="material-icons">add</span>등록</button></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="card-text text-center">신청 항목이 없습니다.</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
