{% extends "base.html" %}

{% block page_name %}
SR/릴리즈 승인
{% endblock %}

{% block content %}
<h5 class="pb-2">승인 대기 목록</h5>
<table id="custom_table" class="display nowrap text-center" style="width:100%">
    <thead>
        <tr>
            <th>구분</th><th>SR No</th><th>제목/요청번호</th><th>Source</th><th>Target</th><th>일자</th><th>상세</th>
        </tr>
    </thead>
    <tbody>
    {% if pending_items %}
        {% for item in pending_items %}
        <tr>
            {% if item.type == 'sr' %}
                <td>신규 SR</td>
                <td>{{ item.sr.id }}</td>
                <td>{{ item.sr.req_title|truncatechars:30 }}</td>
                <td>-</td>
                <td>-</td>
                <td>{{ item.sr.date_of_req }}</td>
                <td><a href="{% url 'service_request_detail' item.sr.id %}">상세</a></td>
            {% else %}
                <td>릴리즈</td>
                <td>{{ item.release.service_request.id }}</td>
                <td>{{ item.release.request_number }}</td>
                <td>{{ item.release.source_system }}</td>
                <td>{{ item.release.target_system }}</td>
                <td>{{ item.release.release_date }}</td>
                <td><a href="{% url 'service_request_detail' item.release.service_request.id %}">상세</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    {% else %}
        <tr><td colspan="7" class="text-center">승인 대상이 없습니다.</td></tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}
